.hero-unit {
    background-color: #000000;
   	background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
   	background-image: url("../img/whiskey.jpg");
}

.hero-unit h1 {
  	font-size: 35px;
	color: #F89406;
}

.hero-unit h3 {
	font-family: 'Nothing You Could Do', cursive;
}

#search {	
	margin-top: 60px;
	align: center;
}

.btn {
  	color: inherit;
	background-color: #FACC5D;
}

select {
	border-radius: 12px;
}

#content {
	margin: 5%;
}

#cocktail {
	font-family: 'Nothing You Could Do', cursive;
}

#ingredients, #infos {
  	font-size: 12px;
}

.table td, .table th {
	border-style: none	
}
