.jumbotron {
	letter-spacing: -1px;
	border-radius: 8px 8px 8px 8px;
    background-color: #000000;
   	background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@media (min-width: 768px) {
	.jumbotron {
	   	background-image: url("../img/whiskey.jpg");
	}
}

.jumbotron h1 {
	font-family: 'Bitter', serif;
	font-weight: bold;
  	font-size: 35px;
	color: #F89406;
}

.jumbotron h3 {
	font-weight: bold;
}

#search {	
	margin-top: 10%;
}

#drink-btn {
	border-radius: 8px 0px 0px 8px;
	background-color: #F89406;
}

#search-criteria {
    width: 130%;
}

#bar-criteria {
    width: 70%;
    padding-right: 2px;
    padding-left: 2px;
}


.btn {
  	color: inherit;
}

.btn#detail {
	font-weight: normal;
}

#content {
	margin: 5%;
}

#cocktail {
	font-weight: bold;
}

#ingredients, #infos {
  	font-size: 12px;
}

.table td, .table th {
	border-style: none	
}
